
{% extends 'base.html' %}
{%block content%}
<form request="GET">
    <div class="center-block" style="width:200px">
        <legend>{{questions}}</legend>
        {%for choice in choices%}
        <input type="radio" name="answer" id="{{choice}}" value="{{choice}}">
        <label for="{{choice}}">{{choice}}</label><br>
        {%endfor%}
        <button type="submit" class="btn btn-info">Submit</button>
    </div>
</form>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      {%for run in pageRange%}
        <li class="page-item"><a class="page-link" href="/{{run}}">{{run}}</a></li>
      {%endfor%}
    </ul>
  </nav>
{%endblock content%}